
<h1>New Event</h1>

<%= link_to 'Show All Events', events_path%>

<%= form_for event do |f|%>

<p>
  <%= f.label :name %>
  <%= f.text_field :name%>
</p>

<p>
  <%= f.label :date %>
  <%= f.text_field :date%>
</p>

<p>
  <%=f.label :capacity %>
  <%=f.number_field :capacity %>
</p>

<p>
  <%=f.label :location_id %>
  <%=f.text_field :location_id %>
</p>

<p>
  <%= f.submit %>
</p>
